{% extends "base.html" %}
{% block headlink-right %}
 <a href="#" data-dropdown="#dropdown-nav">{{ username }} ▾ </a>
{% endblock %}
{% block content %}


<div id="content">
	<h2><a href=/{{username}}>{{username}}</a> - {{db_name}}</h2>
	<hr />
	<h3 class="gray">Public Tables</h3>
	<br />
	<br />
	<table id="databases">
		<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
		</tr>
		</thead>
		<tbody>
		{% for table_name in table_names %}
				<tr>
				<td class="strong">{{table_name}}</td><td class="gray">Table</td>
				</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}





