{% extends "base.html" %}
{% block headlink-right %}
 <a href="#" data-dropdown="#dropdown-nav">{{ user }} ▾ </a>
{% endblock %}
{% block content %}

<script type="text/javascript">
$(document).ready(function(){
	

	function populateTable(table) {
		var header=table[0]
		var data = table.slice(1)
		for(var i=0; i<header.length; i++){
			header[i]={'sTitle':header[i]}

		}
		$('#table-output').dataTable({
        	"aaData": data,
        	"bDestroy": true,
        	"aoColumns": header
    	});
    
  	}

	var parse = function(){
		var input = $('#table-input').val();
	    var table = $.csv.toArrays(input);
	    console.log(table)
	    populateTable(table);
	}

	$("#btn-parse").click(parse);

});
</script>

<div id="content">
	<h2><a href=/{{username}}>{{username}}</a> - <a href=/{{username}}/{{db_name}}>{{db_name}}</a></h2>
	<hr />
	<br />
	<h3 class="gray">Please copy your data below to parse.</h3>
	<br />
	<textarea id="table-input">
"Prof. Name","Affiliation"
"David Karger","MIT"
"Sam Madden","MIT"
"Jeff Heer","Stanford"
"Scott Klemmer","Stanford"
"Terry Winograd","Stanford"
	</textarea>
	<br />
	<button type="button" id="btn-parse" style="margin-left:0px;">Parse</button>
	<br />
	<br />
	<table id="table-output"></table>
</div>
{% endblock %}