{% extends "base.html" %}
{% block headlink-right %}
 <a href="#" data-dropdown="#dropdown-nav">{{ user }} ▾ </a>
{% endblock %}
{% block content %}

<div id="content">
	<h2><a href=/{{username}}>{{username}}</a> - <a href=/{{username}}/{{db_name}}>{{db_name}}</a> - {{table_name}}</h2>
	<input type="text" id="txt-create-db" /> <button type="button" id="btn-create-db" onclick="create_db();" style="margin-left:10px;">Create a New Table</button>
	<br />
	<br />
	<textarea id="table-input"></textarea>
</div>
{% endblock %}